body{
	margin:50px;
	padding: 3px;
	border: 20px solid black;
}
img{
	height: auto;
	width: 100px;
}
li,p{
	font-family: sans-serif;
	font-style: bold;
	color: gray;
	font-size: 20px;
}
#contenedor{
	margin-left: 10%;
	padding: 5px;
}
.lorem{
	font-family: helvetica;
	color: blue;
	background-color: none;
}
.ipsum{
	background-color: red;
}
.sit{
	font-family: helvetica;
}
.lista{
	margin-left: 200px;
	padding: 0px;
}
.float{
	width: 33%;
  float: right;
  padding-top: 15px;
}
.sidebar {
  z-index: 1000;
  position: fixed;
  background-color: yellow;
  float: left;
}
#dolor{
	font-size: 35px;
}